# Ignorar carpetas de compilación de .NET
bin/
obj/

# Archivos de configuración de Visual Studio
*.user
*.suo
*.vs/

# Archivos de paquetes NuGet
*.nupkg
packages/

# Archivos generados por Rider/VSCode
.idea/
.vscode/
